/*Logo and slogan*/
.logo {
    height: 30px;
}
.header{
  background-color: white;
  border: 1px solid #A9A9A9
}
/*menu block*/
.menu-link {
    display: block;
    color: #666;
    text-decoration: none;
    height: 2.75rem;
    line-height: 2.75rem;
    border-bottom: 1px solid #bbb;
    position: relative;

    &::before {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}
.menu-link-home {
  &::before {
    content: "\2660";
  }
}
.menu-link-about {
  &::before {
    content: "\2663";
  }
}
.menu-link-blog {
  &::before {
    content: "\2665";
  }
}
.menu-link-contact {
  &::before {
    content: "\2666";
  }
}
@media screen and (min-width: 300px) {
  .menu-link::before {
    display: block;
  }
  .menu-link {
    padding-left: 1.8rem;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 59rem) {
  .logo {
    height: 20px;
  }
}
