@charset 'UTF-8';
@import 'variables';
@import 'reset';
@import 'header';
@import 'footer';

/*top-section*/

input.ng-invalid {
  background-color: pink;
}

input.ng-valid {
  background-color: lightgreen;
}

.points {
  background: gainsboro;
  border-radius: 0.5em
}

.link small {
  display: block;
  padding-bottom: 10px;
}

.headline {
  padding-left: 0;
  font-size: 30px;
}

.vote {
  text-decoration: none;
  padding-left: 10px;
}

.main {
  margin-top: 25px;
  margin-bottom: 25px;
}

.headline {
  color: black;
}
.blog-article {
  clear: both;
  width: 100%;
  box-sizing: border-box;
}

.blog-title, article-figure {
  padding: 0.5rem;
}

/*bottom-section*/
.section-left-content, .section-right-content {
  font-size: 0.9rem;
  box-sizing: border-box;
  padding: 0.5rem;
}

/*footer*/
footer {
  clear: both;
}

/*Media Queries*/
/*iphone5*/
@media screen and (min-width: 320px) {

}

/*iphone6*/
@media screen and (min-width: 375px) {

}

/*iphone6 plus*/
@media screen and (min-width: 414px) {

}

/*ipad+*/
@media screen and (min-width: 60rem) {
  .blog-article {
    table-layout: fixed;
    width: 100%;
    display: table;
  }
  .blog-title,
  .article-figure {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: center;
  }
  .blog-title {
    padding: 0.5rem;
    text-align: left;
    font-size: 1.2rem;
  }
  section.text-content {
    width: 100%;
    float: right;
  }
  div.section-left-content {
    width: 70%;
    float: left;
  }
  div.section-right-content {
    width: 30%;
    float: left;
  }
}
