<nav class="header navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="headline navbar-brand navbar-brand-image" href="#">
        <span><img src="../images/logo.png" class="logo" alt="Logo of the page" /></span>
        Angular 2 Simple Reddit
      </a>
    </div>
  </div>
</nav>
