<div class="container">
  <form class="form-horizontal" name="formValidate" ng-submit="submitForm(formValidate.$valid)" novalidate>
    <div class="form-group"
         ng-class="{'has-error':!formValidate.title.$valid && (!formValidate.title.$pristine || formValidate.$submitted), 'has-success': formValidate.title.$valid}">
      <label class="control-label" for="title">Title:</label>
      <div>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter title"
               ng-minlength="conditions.title.minLength" ng-maxlength="conditions.title.maxLength"
               ng-required="conditions.title.required && (!formValidate.title.$pristine || formValidate.$submitted)"
               ng-pattern="conditions.title.regExp" ng-model="title">
      </div>
      <div ng-messages="formValidate.title.$error" style="color:maroon">
        <div ng-message="minlength">Your field is too short</div>
        <div ng-message="maxlength">Your field is too long</div>
        <div ng-message="required">You did not enter a field</div>
        <div ng-message="pattern">This is not a valid name</div>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error':!formValidate.link.$valid && (!formValidate.link.$pristine || formValidate.$submitted), 'has-success': formValidate.link.$valid}">
      <label class="control-label" for="link">Link:</label>
      <div>
        <input type="url" class="form-control" id="link" name="link" placeholder="Enter link"
               ng-minlength="conditions.link.minLength" ng-maxlength="conditions.link.maxLength"
               ng-required="conditions.link.required && (!formValidate.link.$pristine || formValidate.$submitted)"
               ng-pattern="conditions.link.regExp" ng-model="link">
      </div>
      <div ng-messages="formValidate.link.$error" style="color:maroon">
        <div ng-message="minlength">Your field is too short</div>
        <div ng-message="maxlength">Your field is too long</div>
        <div ng-message="required">You did not enter a field</div>
        <div ng-message="pattern">This is not a valid surname</div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
  <div class="col-lg-12" ng-show='show' ng-repeat="item in posts" add-post></div>
</div>
