<div class="main col-lg-12">
  <div class="text-center col-lg-2 points"><h1>{{item.votes}}</h1>
    <h3>points</h3></div>
  <div class="col-lg-offset-1 col-lg-9 link"><a href="{{item.link}}"><h1>{{item.title}}</h1></a>
    <small>Angular js 2016</small>
    <a href="#" class="vote" ng-click="item.upvote()">upvote</a> <a href="#" class="vote" ng-click="item.downvote()">downvote</a>
  </div>
</div>
